<% # encoding: utf-8 %>
<html>
<head>
  <title><%= @page_title %></title>
  <link rel="stylesheet" href="/assets/app.css" type="text/css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body class="app-public namespace-browse">

    <div id="content-area" class="clearfix container">
      Layout:
        <%= yield %>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>
